@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";

.wr-gallery .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}
.wr-gallery h1 {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    margin: 0;
}
.gallery .block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.block .img {
    padding-left: 30px;
}
.block img:nth-child(1) {
    padding-left: 0;
}
.indicates  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 75px;
}
.indicates .button{
    padding-left: 26px;
}
.arrow-right {
    background-color: #f9f9f9;
}

@media screen and (max-width:1199px) {
    .wr-gallery {
        width: 960px;
    }
    .gallery .block{
        flex-wrap: wrap;
    }
    .block:nth-child(1) img:nth-child(5) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(2) img:nth-child(5) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .indicates {
        justify-content: center;
        align-items: center;
    }
    footer .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .info-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
     }
    footer .info-block h2 {
        text-align: center;
    }
    footer .contact-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
    footer .net-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:991px) {
    .header {
        width: 720px;
    }
    .wr-gallery {
        width: 720px;
    }
    .block:nth-child(1) img:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(2) img:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    footer {
        width: 720px;
    }
}
@media screen and (max-width:767px) {
    .header {
        width: 540px;
    }
    .header .list {
        display: none;
    }
    .menu-open {
        display: block;
    }
    .header .show-menu {
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.4);
        left: 0;
        top: 0;
        width: 50%;
        padding-left: 70px;
    }
    .wr-gallery {
        width: 540px;
    }
    .gallery {
        display: flex;
        justify-content: space-around;
    }
    .block {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .block:nth-child(2) img:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(1) img:nth-child(2) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(1) img:nth-child(3) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(1) img:nth-child(5) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(2) img:nth-child(2) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(2) img:nth-child(3) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    .block:nth-child(2) img:nth-child(5) {
        margin-top: 30px;
        margin-right: 0;
        padding: 0;
    }
    footer {
        width: 540px;
    }
}
@media screen and (max-width:575px) {
    .header {
        width: 100%;
        padding: 0 15px;
    }
    .wr-gallery {
        width: 100%;
        padding: 0 15px;
    }
    .gallery {
        flex-direction: column;
    }
    .wr-gallery h1 {
        font-size: 42px;
    }
    footer {
        width: 100%;
        padding: 0 15px;
    }
}


