@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";

.wr-intro .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 15px;
    font-style: 64px;
}
.wr-intro h1 {
    padding-top: 92px;
}
.wr-intro .button {
    margin-top: 160px;
}
.wr-intro .pages {
    padding-top: 70px;
}
.wr-intro .img-block {
    position: relative;
}
.wr-intro .block-button {
    position: absolute;
    bottom: 0;
    left: 0;
}
 .wr-intro a{
     color: #333;
     border: 2px solid #fff;
     background-color: #fff;
 }


/*section about company*/

 .wr-about {
    background-color: #fbfbfb;
    height: 440px;
    max-width: 1170px;
    margin: auto;
}
 .wr-about .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.wr-about .picture-one {
    padding-left: 100px;
}
.picture-one .img-one {
    padding-top: 30px;
}
.picture-one .img-two {
    padding-top: 30px;
}
.picture-two .img-two {
    padding-top: 60px;
    padding-left: 30px;
}
.about-us {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 30px;
}
.about-us h2 {
    font-size: 64px;
    color: #bdbdbd;
    padding-top: 30px;
    margin: 0;
}
.about-us p {
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}
.wr-about .block-button {
    justify-content: flex-start;
}
 .wr-about a{
     color: #333;
     border: 2px solid #fff;
     background-color: #fff;
 }
 

/*section tasks*/

.wr-tasks .wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
}
.task-one {
    display: flex;
    flex-direction: row;
    padding-right: 154px;
}
.task-two {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.task-one .task-text {
    font-size: 22px;
    line-height: 36px;
    
    padding-left: 30px;
}
.task-two .task-text {
    font-size: 22px;
    line-height: 36px;
    width: 420px;
    height: 144px;
    padding-left: 30px;
}

    /*section product*/


.wr-product .wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.wr-product .title-block {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.wr-product .img-block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.text-block {
    background-image: url(../media/main5.jpeg);
    width: 570px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.text-block:hover {
    box-shadow:0 0 0 128px rgba(0, 0, 0, 0.4) inset;
}
.text-block p {
    font-size: 64px;
    color: #fff;
    padding-top: 48px;
    padding-left: 75px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-block a {
    font-size: 12px;
    letter-spacing: 3px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;
    padding-top: 14px;
}
.text-block .arrow {
    padding-left: 15px;
}

.title-block .img {
    background: #000;
    overflow:hidden;
}
.img img {
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    display: block;
}
.img:hover img {
    opacity: 0.4;
}
.shadow {
    background: #000;
    overflow:hidden;
}
.shadow img {
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    display: block;
}
.shadow:hover img {
    opacity: 0.4;
}
.wr-product .block-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.wr-product .block {
    color: #fff;
    border: 2px solid #333;
    background-color: #333;
}



/* section forms*/


.wr-connection .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.wr-connection .container {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.container .form {
    display: flex;
    flex-direction: column;
}
.container img {
    padding-left: 30px;
}
.form-button {
    max-width: 222px;
    min-height: 71px;
}
.form-button a {
    color: #fff;
    text-decoration: none;
}
.wr-connection .container img {
    max-height: 369px;
}
.popup  {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup-content {
    background-color: #fff;
    max-width: 516px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.popup-close {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.popup-show {
    line-height: 26px;
    letter-spacing: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-show h2 {
    font-family: "TT-Bold"; 
    font-size: 24px;
    margin:  32px 0 0 0;
}
.popup-show p {
    font-family: "TT-Medium";
    font-size: 14px;
    margin: 27px 0 0 0;
}
.popup-show a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}





@media screen and (max-width:1199px) {
    .wr-intro {
        width: 960px;
    }
    .wr-intro h1 {
        font-size: 52px;
        margin-left: 30px;
    }
    .wr-intro .button {
        margin-top: 100px;
        margin-left: 30px;
    }
    .wr-intro .pages {
        margin-left: 30px;
    }
    .wr-about {
        width: 960px;
        height: 530px;
    }
    .wr-about .picture-one {
        padding-left: 50px;
    }
    .picture-one .img-one {
        padding-top: 40px;
    }
    .picture-two .img-two {
        padding-top: 85px;
        padding-left: 20px;
    }
    .about-us h2 {
        font-size: 52px;
        padding-top: 20px;
    }
    .wr-about .block-button {
        margin-top: 20px;
    }
    .wr-tasks {
        width: 960px;
    }
    .task-one {
        padding-left: 15px;
        padding-right: 0;
    }
    .task-two {
        padding-left: 80px;
    }
    .task-one .task-text {
        font-size: 18px;
        line-height: 22px;
        max-width: 279px;
        padding-left: 15px;
    }
    .task-two .task-text {
        font-size: 18px;
        line-height: 22px;
        max-width: 279px;
        padding-left: 15px;
    }
    .wr-product {
        width: 960px;
    } 
    .wr-connection {
        width: 960px;
    }
    .wr-connection picture {
        opacity: 0;
        visibility: hidden;
    }
    footer {
        width: 960px;
    }
    footer .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .info-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
     }
    footer .info-block h2 {
        text-align: center;
    }
    footer .contact-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
    footer .net-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }

    
}
@media screen and (max-width:991px) {
    .header {
        width: 720px;
    }
    .wr-intro {
        width: 720px;
    }
    .wr-intro h1 {
        font-size: 48px;
        margin-left: 30px;
    }
    .wr-intro .block-button {
        bottom: 25px;
    }
    .wr-intro .block-button a {
        letter-spacing: 1px;
        padding: 15px 10px;
    }
    .wr-intro .pages {
       font-size: 12px;
       padding-top: 30px;
       opacity: 0;
       visibility: hidden;
    }
    .wr-about {
        width: 720px;
        height: 100%;
        margin:  0px;
        margin-top: 70px;
    }
    .wr-about .wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
        background-color: #fbfbfb;
    }
    .picture-one {
        margin: 0 auto;
    }
    .picture-one .img-one {
       padding-top: 15px;
    }
    .picture-one .img-two {
        margin-bottom: 65px;
        margin-left: 40px;
    }
    .picture-two .img-two {
        padding-top: 20px;
        padding-left: 230px;
    }
    .about-us {
        text-align: center;
        padding-left: 0px;
    }
    .about-us h2 {
        font-size: 64px;
        padding-top: 20px;
    }
    .wr-about .block-button {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .wr-tasks {
        width: 720px;
        margin: 0;
    }
    .wr-tasks .task {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .wr-tasks .caption {
        margin-left: 160px;
        white-space: normal;
    }
    .wr-tasks .task-two {
        margin-right: 15px;
        margin-top: 20px;
    }
    .wr-product {
        width: 720px;
    }
    .wr-product .img-block {
        flex-wrap: wrap;
    }
    .wr-product .title-block {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wr-product .img {
        margin-top: 20px;
    }
    .wr-product .img-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .wr-product .shadow {
        margin-top: 20px;
    }
    .wr-product .block-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wr-product .caption {
        margin-left: 160px;
        white-space: normal;
    }
    .wr-connection {
        width: 720px;
    }
    .wr-connection .wrapper {
        flex-wrap: wrap;
    }
    .wr-connection .container {
        margin: 0 auto;
    }
    footer {
        width: 720px;
    }
    

}
@media screen and (max-width:767px) {
    .header {
        width: 540px;
    }
    .header .list {
        display: none;
    }
    .menu-open {
        display: block;
    }
    .header .show-menu {
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.4);
        left: 0;
        top: 0;
        width: 50%;
        padding-left: 70px;
    }
    .wr-intro {
        width: 540px;
    }
    .wr-intro .wrapper {
        flex-wrap: wrap;
    }
    .wr-intro  .text {
        margin: 0 auto;
        margin-top: 30px;
        max-height: 120px;
    }
    .wr-intro  .text h1 {
        padding-top: 0
    }
    .wr-intro  .button {
        margin-top: 30px;
    }
    .wr-intro  .img-block {
        margin: 0 auto;
        margin-top: 20px;
    }
    .wr-intro .button {
        opacity: 0;
        visibility: hidden;
    }
    .wr-intro  .block-button {
         top:352px;
    }
    .wr-intro  .block-button a {
        padding: 30px 15px;
    }
    .wr-about {
        width: 540px;
        margin-top: 70px;
    }
    .picture-one .img-one {
       margin-top: 30px;
       margin-left: 60px;
    }
    .picture-one .img-two {
        margin: 0;
        margin-left: 60px;
    }
    .picture-two .img-two {
        margin-top: 30px;
        margin-left: 110px;
        padding: 0;
    }
    .wr-tasks {
        width: 540px;
        margin-top: 120px;
    }
    .wr-about .about-us {
        padding-left: 0px;
    }
    .wr-tasks .caption {
        margin-left: 80px;
    }
    .wr-tasks .task {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .wr-product {
        width: 540px;
        margin-top: 120px;
    }
    .wr-product .wrapper {
        margin: 0 auto;
    }
    .wr-product .title-block {
        justify-content: center;
        align-items: center;
    }
    .text-block {
        margin-right: 15px;
    }
    .text-block p {
        font-size: 42px;
        padding: 35px;
    }
    .text-block a {
        padding: 0 40px 0;
        margin-bottom: 15px;
    }
    .wr-connection {
        widows: 540px;
    }
    footer {
        width: 540px;
    }
    
}
@media screen and (max-width:575px) {
    .header {
        width: 100%;
        padding: 0 15px;
    }
    .wr-intro {
        width: 100%;
        padding: 0 15px;
    }
    .wr-about {
        width: 100%;
        padding: 0 15px;
    }
    .wr-about .wrapper {
        margin: 0 auto;  
    }
    .wr-about .picture-one {
        padding: 0;
    }
    .picture-one .img-one {
        padding-top: 30px;
        margin: 0;
     }
     .picture-one .img-two {
         margin: 0;
     }
     .picture-two .img-two {
         padding-top: 30px;
         margin: 0
     }
     .about-us h1 {
         padding-right: 10px;
     }
     .wr-tasks {
        width: 100%;
        padding: 0 15px;
     }
     .wr-tasks .caption {
         margin-left: 40px;
         font-size: 40px;
    }
     .wr-tasks .task {
        font-size: 14px;
        line-height: 18px;
        max-width: 279px;
        padding-left: 15px;
     }
     .wr-tasks .task-one {
         flex-wrap: wrap;
         margin-right: 10px;
         word-wrap: break-word;
    }
    .wr-tasks .task-one img {
        float: left;
        margin: 0 15px 10px 0;
    }
     .wr-tasks .task-two {
         flex-wrap: wrap;
         margin-right: 10px;
    }
    .wr-product {
        width: 100%;
        padding: 0 15px;
    }
    .wr-product .text-block {
        font-size: 42px;
        width: 400px;
    }
    .wr-product .text-block p {
        font-size: 42pz;
    }
    .wr-product .caption {
        margin-left: 0;
        white-space: normal;
    }
    .wr-connection {
        width: 100%;
        padding: 0 15px;
    }
    .wr-connection .caption {
        font-size: 46px;
        letter-spacing: 1px;
        word-wrap: break-word;
        margin-left: 0;
        white-space: normal;
        max-width: 319px;
    }
    .item {
        min-width: 250px;
    }
    footer {
        width: 100%;
        padding: 0 15px;
    }
     
}