@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";


.wr-projects .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}

.wrapper .container {
    width: 100%;
}
.wrapper .container:nth-child(2) {
    margin-top: 30px;
    position: relative;
}
.wrapper .container:nth-child(2) .picture {
    object-fit: cover;
}
.wrapper .container:nth-child(3) {
    margin-top: 60px;
    margin-bottom: 60px;
   
}
.wrapper .container {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
}
.wr-projects h1 {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    margin: 0;
}

.container .project {
    padding-top: 30px;
    padding-left: 30px;
}
.project h2 {
    font-family: "TT-Light" , sans-serif;
    font-size: 40px;
    line-height: 49,8px;
    color: #bdbdbd;
    margin: 0;
}
.project p {
    font-family: "TT-Light" , sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
    padding-right: 70px;
    margin: 0;
}
 .block-button {
    justify-content: flex-start;
    padding-top: 64px;
}
.block-button a{
    color: #333;
    border: 2px solid #fff;
    background-color: #fff;
 }
.indicates  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*adapt*/
@media screen and (max-width:1200px) {
    .wr-projects {
        width: 1140px;
    }
    .wrapper {
        margin: 0;;
    }
    .container {
        width: auto;
        position: relative;
    }
    .project h2 {
        font-size: 30px;
        word-break: break-all;
    }
    .project p {
        font-size: 14px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: inherit;
    }
    .block-button  {
      margin-bottom: 30px;
       padding-top: 30px;
    }
    .block-button a {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 10px;
        padding: 20px 30px;
    }
}
@media screen and (max-width:1199px) {
    .wrapper {
        width: 960px;
    }
    footer .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .info-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
     }
    footer .info-block h2 {
        text-align: center;
    }
    footer .contact-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
    footer .net-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:991px) {
    .header {
        width: 720px;
    }
    .wrapper {
        width: 720px;
    }
    .container {
        flex-wrap: wrap;
        align-items: center;
    }
    .picture {
        margin: auto;
        margin-top: 10px;
    }
    .block-button  {
        margin-bottom: 30px;
        padding-top: 30px;
     }
     .indicates {
         justify-content: center;
         align-items: center;
     }
     footer {
         width: 720px;
     }
}

@media screen and (max-width:575px) {
    .header {
        width: 100%;
        padding: 0 15px;
    }
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }
    .project {
        text-align: center;
    }
    .project p{
        padding-right: 25px;
    }
    .picture {
        padding-top: 15px;
    }
    .block-button {
        justify-content: center;
        align-items: center;
    }
    footer {
        width: 100%;
        padding: 0 15px;
    }
}