@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";


.wr-project .wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}
.wr-project h1 {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    margin: 0;
}


/*разобраться с текстом */


.wrapper div {
    padding-top: 30px;
}
.wrapper .block {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    height: auto;
   
}
.block p {
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
    margin: 0;
}
.block img {
    float: left;
    margin: 0 15px 10px 0;
}

/*adapt*/
@media screen and (max-width:1200px) {
    .wr-project {
        width: 1140px;
    }
}
@media screen and (max-width:991px) {
    .header {
        width: 540px;
    }
    .header .list {
        display: none;
    }
    .menu-open {
        display: block;
    }
    .header .show-menu {
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.4);
        left: 0;
        top: 0;
        width: 50%;
        padding-left: 70px;
    }
    .wr-project {
        width: 720px;
    }
    .wrapper {
        margin: 0 auto;
    }
}
@media screen and (max-width:575px) {
    .wr-project {
        width: 100%;
        padding: 0 15px;
    }
}