@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";

.wr-sert .wrapper{
display: flex;
flex-direction: column;
padding-top: 92px;
}
.wrapper .img-block {
    padding-top: 42px;
}
.img-block .img {
    padding-left: 61px;
}
.indicates  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer {
    margin-top: 120px;
}

/*adapt*/
@media screen and (max-width:1200px) {
    .wr-sert {
        width: 1140px;
    }
    .img-block img:nth-child(3) {
        padding: 0;
    }
    .indicates {
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width:1199px) {
footer {
        width: 960px;
    }
    footer .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .info-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
     }
    footer .info-block h2 {
        text-align: center;
    }
    footer .contact-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
    footer .net-block {
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:991px) {
    .header {
        width: 720px;
    }
    .wr-sert {
        width: 720px;
    }
    h1 {
        text-align: center;
    }
    .img-block img {
        margin-left: 176px;
    }
    .img-block img:nth-child(2) {
        margin-left: 115px;
    }
    footer {
        width: 720px;
    }
}

@media screen and (max-width:767px) {
    .header {
        width: 540px;
    }
    .header .list {
        display: none;
    }
    .menu-open {
        display: block;
    }
    .header .show-menu {
        display: block;
        position: absolute;
        background: rgba(0,0,0,0.4);
        left: 0;
        top: 0;
        width: 50%;
        padding-left: 70px;
    }
    .wr-sert {
        width: 540px;
    }
    .img-block img {
        margin-left: 85px;
    }
    .img-block img:nth-child(2) {
        margin-left: 24px;
    }
    footer {
        width: 540px;
    }
}
@media screen and (max-width:575px) {
    .header {
        width: 100%;
        padding: 0 15px;
    }
    .wr-sert{
        width: 100%;
        padding: 0 15px;
    }
    .img-block img {
        margin-left: 56px;
    }
    .img-block img:nth-child(2) {
        margin: 0px;
      padding-left: 56px;
    }
    footer {
        width: 100%;
        padding: 0 15px;
    }
}